In [1]:
import numpy as np 
import pandas as pd 
import os
import spacy
import string
import re
import numpy as np
from spacy.symbols import ORTH
from collections import Counter

import torch
import torch.nn as nn
import torch.nn.functional as F
from torch.utils.data import Dataset, DataLoader
from torch.nn.utils.rnn import pack_padded_sequence, pad_packed_sequence

## Load Data & EDA

In [2]:
data = pd.read_csv('combined-newsqa-data-v1.csv')
print(data.columns)
print(type(data['is_question_bad'][0]))

# remove Q/A pairs that are invalid or missing
#data = data[(data.is_question_bad=='0.0') & (data.is_answer_absent=='0.0')]
data.head()

Index(['story_id', 'question', 'answer_char_ranges', 'is_answer_absent',
       'is_question_bad', 'validated_answers', 'story_text'],
      dtype='object')
<class 'str'>

,story_id,question,answer_char_ranges,is_answer_absent,is_question_bad,validated_answers,story_text
0,./cnn/stories/42d01e187213e86f5fe617fe32e716ff...,What was the amount of children murdered?,294:297|None|None,0.0,0.0,"{""none"": 1, ""294:297"": 2}","NEW DELHI, India (CNN) -- A high court in nort..."
1,./cnn/stories/c48228a52f26aca65c31fad273e66164...,Where was one employee killed?,34:60|1610:1618|34:60,0.0,0.0,NaN,(CNN) -- Fighting in the volatile Sudanese reg...
2,./cnn/stories/c65ed85800e4535f4bbbfa2c34d7d963...,who did say South Africa did not issue a visa ...,103:127|114:127|839:853,0.0,0.0,"{""839:853"": 1, ""103:127"": 2}",Johannesburg (CNN) -- Miffed by a visa delay t...
3,./cnn/stories/0cf66b646e9b32076513c050edf32a79...,How many years old was the businessman?,538:550|538:550,0.0,0.0,NaN,(CNN) -- England international footballer Ste...
4,./cnn/stories/13012604e3203c18df09289dfedd14cd...,What frightened the families?,690:742|688:791|630:646,0.0,0.0,"{""688:791"": 2, ""690:742"": 1}","BAGHDAD, Iraq (CNN) -- At least 6,000 Christi..."

In [3]:
print(data['is_question_bad'][0])

0.0

In [4]:
# 119,633 Q/A's , 12088 articles
print(len(data))
print(len(data['story_text'].unique()))

119633
12088

In [5]:
first_doc = data['story_text'][0]
first_doc

'NEW DELHI, India (CNN) -- A high court in northern India on Friday acquitted a wealthy businessman facing the death sentence for the killing of a teen in a case dubbed "the house of horrors."\n\n\n\nMoninder Singh Pandher was sentenced to death by a lower court in February.\n\n\n\nThe teen was one of 19 victims -- children and young women -- in one of the most gruesome serial killings in India in recent years.\n\n\n\nThe Allahabad high court has acquitted Moninder Singh Pandher, his lawyer Sikandar B. Kochar told CNN.\n\n\n\nPandher and his domestic employee Surinder Koli were sentenced to death in February by a lower court for the rape and murder of the 14-year-old.\n\n\n\nThe high court upheld Koli\'s death sentence, Kochar said.\n\n\n\nThe two were arrested two years ago after body parts packed in plastic bags were found near their home in Noida, a New Delhi suburb. Their home was later dubbed a "house of horrors" by the Indian media.\n\n\n\nPandher was not named a main suspect by investigators initially, but was summoned as co-accused during the trial, Kochar said.\n\n\n\nKochar said his client was in Australia when the teen was raped and killed.\n\n\n\nPandher faces trial in the remaining 18 killings and could remain in custody, the attorney said.'

In [6]:
first_doc[294:297]

'19 '

In [7]:
second_doc = data['story_text'][2]
second_doc

'Johannesburg (CNN) -- Miffed by a visa delay that led the Dalai Lama to cancel a trip to South Africa, Archbishop Desmond Tutu lashed out at his government Tuesday, saying it had acted worse than apartheid regimes and had forgotten all that the nation stood for.\n\n\n\n\n\n"When we used to apply for passports under the apartheid government, we never knew until the last moment what their decision was," Tutu said at a news conference. "Our government is worse than the apartheid government because at least you were expecting it from the apartheid government.\n\n\n\n\n\n"I have to say that I can\'t believe this. I really can\'t believe this," Tutu said. "You have to wake me up and tell me this is actually happening here."\n\n\n\n\n\nThe Dalai Lama scrapped his planned trip to South Africa this week after the nation failed to issue him a visa in time, his spokesman said.\n\n\n\n\n\nVisa applications for him and his entourage were submitted to the South African High Commission in New Delhi, India, at the end of August, and original passports were submitted on September 20, more than two weeks ago, a statement on his website said.\n\n\n\n\n\nHowever, South Africa\'s foreign affairs office said it did not refuse a visa.\n\n\n\n\n\n"South Africa will not comment on the decision, because it is not our decision, it is his decision," according to spokesman Clayson Monyela, who said the visa application was still under consideration.\n\n\n\n\n\nThe Dalai Lama had been invited to the country to receive the Mahatma Gandhi International Award for Peace and Reconciliation and to speak at a number of events, including a lecture in honor of Tutu\'s 80th birthday. Tutu and the Dalai Lama are recipients of the Nobel Peace Prize.\n\n\n\n\n\nTutu said he would pray for the defeat of South Africa\'s government, led by the African National Congress (ANC), which is rooted in the fight against the system of apartheid, or legal racial separation, that was present in South Africa until 1994.\n\n\n\n\n\n"You are disgraceful," Tutu said about the government. "You are behaving in a way that is totally at variance with the things for which we stood."\n\n\n\n\n\nThe ANC plans to call on government officials to explain to South Africans why the visa process was delayed, spokesman Jackson Mtembu said. He said everyone was in the dark about this matter.\n\n\n\n\n\nBut he also suggested that Tutu calm down. A comparison to apartheid regimes, he said, was unfair.\n\n\n\n\n\nThis is not the first time the Dalai Lama has not been able to visit South Africa. In 2009, South Africa refused the Tibetan spiritual leader a visa to attend an international peace conference, saying it was not in the country\'s interest for him to attend.\n\n\n\n\n\nIn refusing the 2009 application, South Africa said that if the Dalai Lama attended the conference, the focus would shift away from the 2010 World Cup, the global soccer championship it was hosting.\n\n\n\n\n\n"We cannot allow focus to shift to China and Tibet," presidential spokesman Thabo Masebe said, adding that South Africa had gained much from its trading relationship with China.\n\n\n\n\n\nThe Dalai Lama fled Tibet in 1959 after a failed uprising against Chinese rule, and China pressures governments around the world to deny him any legitimacy.\n\n\n\n\n\nSpeculation surfaced Tuesday that this year\'s visit was also affected by South Africa\'s relationship with China.\n\n\n\n\n\nSouth African Vice President Kgalema Motlanthe visited Beijing last week and met with Chinese President Hu Jintao to discuss bolstering bilateral ties.\n\n\n\n\n\nMotlanthe said South Africa was ready to boost the strategic partnership between the two countries to a new stage, according to the official Chinese news agency Xinhua.\n\n\n\n\n\nBut Monyela said the application had nothing to do with China.\n\n\n\n\n\n"We are a sovereign nation which takes decisions in our domestic interest," Monyela said.\n\n\n\n\n\nThe Dalai Lama posted a message on Twitter last week that said: "Even if the Chinese leave nothing but ashes, Tibet will rise from these ashes as a free country even if it takes a long time to do so."\n\n\n\n\n\nKim Norgaard, CNN\'s Johannesburg bureau chief, contributed to this report.'

In [8]:
print(second_doc[103:127])
print(second_doc[114:127])
print(second_doc[839:853])

Archbishop Desmond Tutu
Desmond Tutu
his spokesman

Answers given by different human reviewers are in the answer_char_ranges column and the validated_answers column. These values are string index ranges within the document that represent the answer. For each row, we need to determine which character range is the best answer to use and extract it. There are a couple ways we could approach this problem, the first is to have a model that takes the question(str), the story(str), spits out an answer(str).

or we could have it spit back out the string indexes themselves.

In [9]:
# Remove uneeded columns
df = data[['question','answer_char_ranges','validated_answers','story_text']]
df = df.iloc[0:100] # reduce size for development purposes
df.head()

,question,answer_char_ranges,validated_answers,story_text
0,What was the amount of children murdered?,294:297|None|None,"{""none"": 1, ""294:297"": 2}","NEW DELHI, India (CNN) -- A high court in nort..."
1,Where was one employee killed?,34:60|1610:1618|34:60,NaN,(CNN) -- Fighting in the volatile Sudanese reg...
2,who did say South Africa did not issue a visa ...,103:127|114:127|839:853,"{""839:853"": 1, ""103:127"": 2}",Johannesburg (CNN) -- Miffed by a visa delay t...
3,How many years old was the businessman?,538:550|538:550,NaN,(CNN) -- England international footballer Ste...
4,What frightened the families?,690:742|688:791|630:646,"{""688:791"": 2, ""690:742"": 1}","BAGHDAD, Iraq (CNN) -- At least 6,000 Christi..."

In [10]:
# loops through the rows and prints the question along with the first answer given
for i, row in df.iterrows():
    possible_ranges = row['answer_char_ranges']
    possible_ranges_list = possible_ranges.split('|')
    range1 = possible_ranges_list[0].split(':')
    print(range1)
    answer = row['story_text'][int(range1[0]):int(range1[1])]
    question = row['question']
    print(question)
    print(answer)
    break

['294', '297']
What was the amount of children murdered?
19

Maximum length for story text

In [11]:
max(len(x) for x in df['story_text'])

7208

In [12]:
max(len(x) for x in df['question'])

331

In [13]:
type(df['validated_answers'][0])

str

## Pre-trained glove embeddings

In [14]:
#def loadGloveModel(gloveFile="glove.6B.300d.txt"):
def loadGloveModel(gloveFile="glove.42B.300d.txt"):  
    """ Loads word vectors into a dictionary."""
    f = open(gloveFile,'r')
    word_vecs = {}
    for line in f:
        splitLine = line.split()
        word = splitLine[0]
        word_vecs[word] = np.array([float(val) for val in splitLine[1:]])
    return word_vecs

In [15]:
word_vecs = loadGloveModel()

## Create vocabulary

In [16]:
re_br = re.compile(r'<\s*br\s*/?>', re.IGNORECASE)
def sub_br(x): return re_br.sub("\n", x)

my_tok = spacy.load('en')
def spacy_tok(x): return [tok.text for tok in my_tok.tokenizer(sub_br(x))]

In [17]:
spacy_tok(df['question'][0])

['What', 'was', 'the', 'amount', 'of', 'children', 'murdered', '?']

In [18]:
word_count = Counter()

In [19]:
for i, row in df.iterrows():
    word_count.update(spacy_tok(row['story_text']))
    word_count.update(spacy_tok(row['question']))

In [20]:
len(word_count.keys())

9658

In [21]:
# delete if occurs < 5 times and it is not in our pretrained embeddings
for word in list(word_count):
    if word_count[word] < 5 and word not in word_vecs:
        del word_count[word]
len(word_count)

7080

In [22]:
vocab2index = {"":0, "UNK":1}
words = ["", "UNK"]
for word in word_count:
    vocab2index[word] = len(words)
    words.append(word)

In [23]:
len(words)

7082

## Create embeddings

In [24]:
def random_word_vector(D=300):
    """Create arandom word vector
    
    0.25 is chosen so the unknown vectors have (approximately) same variance 
    as pre-trained ones
    """
    return np.random.uniform(-0.25,0.25,D)

In [25]:
def create_embedding_matrix(word_vecs, vocab2index, words, D=300):
    """Creates embedding matrix from word vectors. """
    V = len(words)
    W = np.zeros((V, D), dtype="float32")
    W[0] = np.zeros(D, dtype='float32')
    i = 1
    for i in range(1, V):
        if words[i] in word_vecs:
            W[i] = word_vecs[words[i]]
        else:
            W[i] = random_word_vector()
    return W

In [26]:
embedding_matrix = create_embedding_matrix(word_vecs, vocab2index, words)
embedding_matrix.shape

(7082, 300)

In [27]:
# note that spacy_tok takes a while run it just once
def encode_text(text, vocab2index, N=400, padding_start=True):
    x = spacy_tok(text)
    enc = np.zeros(N, dtype=np.int32)
    enc1 = np.array([vocab2index.get(w, vocab2index["UNK"]) for w in x])
    l = min(N, len(enc1))
    if padding_start:
        enc[:l] = enc1[:l]
    else:
        enc[N-l:] = enc1[:l]
    return enc #, l

In [67]:
embedding_matrix[1]

array([ 0.08249024, -0.08980711,  0.00617218,  0.04219914, -0.08003338,
        0.17465064, -0.07647051, -0.05222916, -0.15881173, -0.15022941,
       -0.14147282, -0.15806696, -0.1262636 , -0.14208864, -0.02841873,
       -0.19134851,  0.03348034,  0.21889208,  0.09277578,  0.14996344,
       -0.2204104 , -0.24027117, -0.11435451,  0.20139456,  0.20230818,
        0.11387866,  0.10309181,  0.22529078,  0.2329686 , -0.0285629 ,
        0.24480428,  0.12317842, -0.15065637,  0.09639482, -0.23165037,
        0.02255594, -0.00543845, -0.18117043,  0.15583007, -0.17432022,
        0.01011976,  0.01127135, -0.15392493, -0.00331711,  0.08627966,
        0.10803798,  0.21991262,  0.00916552,  0.01613302, -0.24487732,
        0.24852966, -0.04201666,  0.04136425, -0.14681305,  0.22406267,
       -0.10646817,  0.22545756, -0.15375417, -0.17016897, -0.07715449,
        0.06225997,  0.17680942,  0.17148106,  0.21965365, -0.19422193,
        0.05836041,  0.22166622,  0.15453792, -0.10438485,  0.2108282 ,
        0.20815207,  0.13832597, -0.0747055 , -0.229118  ,  0.23699762,
        0.23045118,  0.2132555 , -0.22481434,  0.24345985, -0.06672837,
       -0.22858396,  0.19894029, -0.14790572, -0.15648161,  0.01016401,
       -0.24146092, -0.08743465, -0.1118907 ,  0.13788861,  0.20430858,
        0.02555995, -0.07035466,  0.11533353,  0.21927221,  0.18273236,
       -0.24464288, -0.01463546,  0.18211941,  0.10753319,  0.04509172,
        0.21584113, -0.05337277, -0.10327484, -0.1834994 ,  0.05624422,
        0.22950307,  0.15803726,  0.08258396, -0.03502399, -0.02338193,
        0.00323749,  0.06180949, -0.03683199,  0.1560441 , -0.09891808,
       -0.20331714, -0.17468591,  0.07506629,  0.10802598,  0.23164052,
       -0.2050714 ,  0.2184723 ,  0.09035852,  0.22789045, -0.20777841,
       -0.06469318,  0.24461015,  0.2032781 ,  0.19466116,  0.12387853,
        0.13636109, -0.179672  ,  0.22607012,  0.00118223, -0.1440636 ,
       -0.0318729 ,  0.10203559,  0.20810312, -0.13074161,  0.14406815,
       -0.03165927, -0.06366345,  0.24529718,  0.06347149,  0.11910436,
       -0.11054154,  0.011381  ,  0.24407165,  0.04741491,  0.21098386,
       -0.01138818,  0.14082623,  0.05889857, -0.15892805, -0.1280754 ,
        0.06549834,  0.20489377,  0.16509391,  0.23464637,  0.2282958 ,
       -0.18141462,  0.01062999, -0.20208564,  0.1035931 ,  0.02258313,
        0.22197093,  0.23823859,  0.06417371, -0.12647526, -0.17620733,
        0.22020073, -0.10154703,  0.08935998,  0.04427361,  0.08781284,
        0.07019187, -0.12851912,  0.18182041, -0.17489594,  0.00926759,
        0.23446745,  0.24405886,  0.08951732,  0.17677926, -0.09623741,
       -0.0199446 ,  0.15220408, -0.21231455,  0.12525725, -0.09712557,
       -0.232464  , -0.10420598, -0.05088627, -0.23324382, -0.13836282,
        0.19945027,  0.00161411, -0.0764997 ,  0.01903562,  0.02613348,
        0.02570305, -0.19959104,  0.16762275,  0.02537377,  0.21597622,
        0.07503808, -0.0514292 , -0.18291616,  0.03330781,  0.1268754 ,
        0.08732723, -0.08759907,  0.06597196,  0.02096501,  0.06221989,
        0.03490907,  0.14272201, -0.04510798,  0.04040151,  0.08626198,
       -0.23330116, -0.17324583, -0.08059621,  0.04883362, -0.00065197,
       -0.13163276, -0.0878087 , -0.0490987 , -0.08852088,  0.23808314,
       -0.04535585,  0.01275244,  0.10588676,  0.05918675,  0.09563088,
       -0.02607899,  0.1690269 , -0.18753149, -0.1438244 , -0.15837803,
        0.1398209 , -0.11983264, -0.10692895, -0.06013572,  0.00046836,
        0.19371565, -0.06897927,  0.06508406, -0.1675431 ,  0.1981586 ,
        0.00400957,  0.19998164, -0.1489358 , -0.0635302 , -0.01288375,
       -0.14221624,  0.08063879, -0.14697953, -0.18286882, -0.10640769,
       -0.15718889,  0.12007305,  0.23521414, -0.13356185,  0.1289431 ,
       -0.23829071, -0.05666203, -0.09719637, -0.05024973,  0.15606262,
       -0.0942627 , -0.20730045,  0.01753863, -0.20710208, -0.04247533,
       -0.15115069,  0.16866887,  0.02846045, -0.23588091,  0.22732131,
       -0.03740803,  0.17572789,  0.206356  ,  0.16367075, -0.24605311,
       -0.0701655 , -0.14262375, -0.0222411 , -0.0404665 , -0.20167969,
       -0.11687902,  0.10680484, -0.12351917, -0.10117707,  0.0260039 ,
       -0.09621054,  0.18092398,  0.24177249,  0.19946226,  0.08251128],
      dtype=float32)

In [28]:
text = df['story_text'][0]
encode_text(text, vocab2index, N=400)

array([  1,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
         3,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  20,
        24,  25,  16,  26,  11,  16,  27,  28,  29,  20,  30,  25,  31,
        32,  29,  33,   1,   1,  34,  35,  36,  37,  21,  38,  16,  39,
        10,  11,  40,  32,  33,  41,  26,  35,  42,  25,  43,  44,   7,
        45,  46,  47,  48,   7,  11,  42,  25,  20,  49,  50,  51,  52,
        11,   3,  11,  53,  54,  32,  33,  41,   1,   9,  10,  55,  15,
         1,   1,  34,   2,  56,  57,   1,   1,   1,  58,   5,  32,  33,
        34,  46,  56,  59,  60,   1,   1,  61,  36,  37,  21,  11,  40,
        38,  16,  39,  10,  23,  20,  62,  46,  63,  25,  20,  64,  65,
        66,  32,  33,  41,   9,  10,  67,   1,  68,  21,  22,   2,   1,
        69,  32,  33,  41,  70,  61,  71,  70,  54,  72,  73,  74,  75,
        76,  11,  77,  78,  61,  79,  80,  81,  82,  11,   1,   2,  16,
        83,   1,  84,  32,   1,  82,  35,  85,  28,  16,  29,  30,  25,
        31,  29,  38,  20,   1,  86,  32,  33,  34,  35,  87,  88,  16,
        89,  90,  38,  91,  92,   2,  93,  35,  94,  95,  96,  65,  97,
        98,  20,  99,   2,   1,  69,  32,  33,   1,  69,  56, 100,  35,
        11,   1, 101,  20,  26,  35, 102,  46, 103,  32,  33,  34, 104,
        99,  11,  20, 105, 106,  52,  46, 107, 108,  11, 109,   2,  20,
       110,  69,  32,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0], dtype=int32)

## Train/val/test split

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
X_train, X_test, y_train, y_test = train_test_split(df[['question', 'story_text']], 
                                                    df['answer_char_ranges'], 
                                                    test_size=0.1, 
                                                    random_state=42)

NameError: name 'df' is not defined

In [4]:
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

NameError: name 'X_train' is not defined

## Dataset

Notes:

- I have only included the `answer_char_ranges` column as the y variable. We can change it if needed!
- I am returning the encoded question, story, and y variable separately, but we can put the question and story text together if needed depending on our model architecture.

In [117]:
class NewsQADataset(Dataset):
    def __init__(self, X, y, N=400, padding_start=False):
        self.y = [k.split('|') for k in y]
        self.X = [[encode_text(x['question'], vocab2index, N, padding_start),
                   encode_text(x['story_text'], vocab2index, N, padding_start)] for i, x in X.iterrows()]
        
    def __len__(self):
        return len(self.y)
    
    def __getitem__(self, idx):
        x = self.X[idx]
        print(self.y[idx])
        bests = [response for response in self.y[idx] if response != 'None']
        print(bests)
        best_y = bests[0]
        print(best_y)
        start, end = best_y.split(',')[0].split(':')
        
        return x[0], x[1], np.array([int(start), int(end)])

In [118]:
train_ds = NewsQADataset(X_train, y_train)
valid_ds = NewsQADataset(X_valid, y_valid)

In [119]:
batch_size = 1000
train_dl = DataLoader(train_ds, batch_size=batch_size, shuffle=True)
valid_dl = DataLoader(valid_ds, batch_size=batch_size)

In [121]:
x1, x2, y = train_ds[1]
x1, x2, y

['891:899', '499:507', '499:507']
['891:899', '499:507', '499:507']
891:899

(array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0, 111, 217, 228,   1,  11, 114], dtype=int32),
 array([   4,    5,    6,    7, 2136,  470,    1, 5147,   69,  383,  162,
         194, 5148, 1476, 4147,  402, 2241, 2137, 2138,    1,    1, 2242,
           2,   16,  863,   73, 2242, 5149, 5150,   98,  194, 3748, 5151,
         402, 5147,  182,   20,  440,    1,    1,   11,    1,    2,    1,
          32, 1204, 2241,    1,    1,    1, 2242, 2214,   20,  482,  654,
           2,   95, 2136,  470,    1, 5147, 4611,    2,  124,   32, 1204,
        5147,   69,  383,   46, 2242,  178,   87,  887,   20, 5152, 1186,
          32, 1204,   29,  330,  675,  347,  338,   46,   69,    2, 2177,
           2,  303,   68,  485,  259,  328,    2,  485,  259,    1,   32,
         446, 2482,  328,   95,   16,  289,    2,   29, 5147,   69,   32,
         233,   69, 2242, 5153,   32, 1204,    1,  157,   35,  815, 5154,
          25,  194, 5155,    2, 5147,   69,  157,   35,   16, 5156, 5151,
         279,   20,   70, 2193,   32, 1204,   29,  330,  178,  333,  887,
         303, 1186,   32,  330,  178,  333,  180,   23,   16,  910,  278,
          32,  330, 5157, 5158, 3037,   32, 1175,   35,  564, 2698,   32,
        1031,  177,  178,  333,  601,  564, 1297,    2,   29,  383,   69,
          32,  507, 1112,    1, 5147,   13,   20, 2187, 4143, 2859, 1704,
        1204,    1,    2,   16, 5159,    1,  309,    2,   55,  501,  164,
          20,    1,  993,   68, 3869,  258,   46, 2259,  205,   11,   20,
         116,    2,   46,    1, 1216, 5160, 5161,  431, 1271,  279, 2191,
          46,    1,   32, 1204,  415,  644,    1,  144,  164, 5162,  402,
        2191,  147,  204,  235,   65,  226,  258,  668,  140, 1238,  157,
         698,  183,  699,   32, 1204, 1031,   11,    1,    2, 2242,   35,
        5163,   73, 5147,   69,  140, 2191,  228, 1174,   37,  431,   46,
        2598,    1,   23,   20,  221,   11, 2187,    2,  237, 2191, 4950,
          16,  235,   65,  226,  258,  668,  140, 1238,  698,  183,  699,
          32, 1204,  312, 2242,  272, 3253,    2,   16, 5164, 1056,  347,
        1004,    2,  302,   20, 1501,  162, 1335,  147,  204, 5165,  348,
          32, 2242, 5166,   20, 5164,   13,   20, 2428,  319,  383,   35,
        2700,   42,  141, 2530,   37, 1438,   32,  507, 1112, 3266,   13,
        2242,   68, 3748, 5151, 2859, 1704, 1204,   29,  330, 1065,   20,
        2727,  558, 1198,  623, 1516,  228,  326,   25,   20,  512, 4703,
           2,   29,  383,   69,   37, 5147,   32,   29, 1597, 1516,  366,
          87,  186,  140, 5167,   32,  335,  252, 1065,  140,   32,  312,
         303, 4962,   37,   24,    7,  328, 1065,   24,  881, 1154,   32,
         330, 1065,  550,  328, 1691,    2, 2924,   45,   13,   20, 4692,
          32,   29, 1204,  233], dtype=int32),
 array([891, 899]))

In [80]:
x1, x2, y = next(iter(train_dl))

ValueError: too many values to unpack (expected 2)

In [ ]:
# Define model(s)?

class QA_model(nn.Module):
    def __init__(self, vocab_size, emb_size, hidden_size, output_size):
        super(CharEmbRNN, self).__init__()
        self.emb = nn.Embedding(vocab_size, emb_size)
        self.hidden_size = hidden_size
        self.linear_i2h = nn.Linear(emb_size + hidden_size, hidden_size)
        self.linear_h2o = nn.Linear(hidden_size, output_size)

    def forward(self, x1, x2, hidden):
        x = x.long()
        x = self.emb(x)
        combined = torch.cat((x, hidden), 1)
        hidden = torch.tanh(self.linear_i2h(combined))
        output = self.linear_h2o(hidden)
        return output, hidden

    def initHidden(self, bash_size):
        return torch.zeros(bash_size, self.hidden_size)